.course-content-container {
    position: absolute;
    top: 48px;
}

.course-content {
    margin: 8px 0 8px 8px;
    padding: 32px;
    background-color:rgb(15, 15, 15);
    border-radius: 8px;
    border: 1px solid rgb(15, 15, 15);
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
}