
.sidebar-container {
    position: relative;
    z-index: 100;
    min-height: 420px;
}

.sidebar {
    /*background-color: rgba(2, 2, 2, 0.85);
    background-color: #8b5555;*/
    padding: 0 8px;
    color: white;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.sidebar .syllabus-header {
    background-color: #2b2a2a;
    padding: 8px;
    border-radius: 0 16px 16px 0;
    border-left: 1px solid #646363;
}



.sidebar .syllabus-header-start {
    background-color: #2b2a2a;
    border-radius: 16px 0 0 16px;
    padding: 8px;
    width: 16px;
    height: auto;
    cursor: pointer;
}

.sidebar .syllabus-header-start:hover {
    background-color: #2c3042;
}

.list-container {
    margin-top: 20px;
    margin-bottom: 16px;
}

.list-container .list-element {
    color: white;
    /*background-color: #1d1c1c;*/
    font-weight: 600;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}
.list-container .list-element:hover {
    background-color: #1f1e1e;
    transition: 0.2s 0.1;
}

.list-container .list-element-icon {
    margin: 4px 4px 0 0;
}
