
.sidebar-container {
    position: fixed;
    top: 48px;
}

.sidebar {
    /*background-color: #1d1c1c;*/
    /*background-color: rgb(15, 15, 15);*/
    margin: 8px 8px 8px 0;
    padding: 8px;
    color: white;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
}

.sidebar .list-header {
    padding: 8px;
    cursor: pointer;
}


.sidebar .list-element {
    color: white;
    /*background-color: #1d1c1c;*/
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}

.sidebar .list-element:hover {
    color: rgb(61, 135, 245);
    background-color: #0c0c0c;
    transition: 0.2s 0.1;
}

.sidebar .list-element-icon {
    margin: 4px 4px 0 0;
}