

.image--wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 100;
}

.profile--image__container {
    padding-right: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.profile--image {
    width: 100px;
    border-radius: 24px;
    padding: 8px;
    background-color: #0c0c0c;
}

.profile--image__container:after {
    content: "";
    position: absolute;
    top: 50px;
    height: 78px;
    width: 98px;
    border-radius: 0 0 24px 24px;
    border: 1px solid #22313d;
    border-top-width: 0;
}


.card--wrapper {
    position: relative;
    top: 50px;
    height: 500px;
    border-radius: 24px;
    padding: 8px;
    background-color: #1f1e1e;
    border: 1px solid #22313d;
}

.card--info {
    position: relative;
    top: 80px;
}

.card--info__name {
    color: #706f6f;
    margin-top: 8px;
}

.card--info__description {
    margin: 8px 0;
}