*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.icon {
  cursor: pointer;
}

body {
  background-color: #0c0c0c;
}

.body-container {
  position: relative;
  top: 48px;
  font-family: 'Nunito', sans-serif;
}

.right-section-container {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
}


.section-title {
  padding: 8px 16px;
  color: #777;
  margin: 5px 0 8px 5px;
  border-radius: 32px;
  border: 2px solid #464545;
  display: inline-block;
  mask-image: linear-gradient(270deg, transparent, rgb(8, 8, 8), transparent);
  -webkit-mask-image: linear-gradient(270deg, transparent, rgb(8, 8, 8), transparent);
  transition: linear 0.5s ease;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.place-0  {left: 0;}
.place-1  {left: 8.33%;}
.place-2  {left: 16.66%;}
.place-3  {left: 25%;}
.place-4  {left: 33.33%;}
.place-5  {left: 41.66%;}
.place-6  {left: 50%;}
.place-7  {left: 58.33%;}
.place-8  {left: 66.66%;}
.place-9  {left: 75%;}
.place-10 {left: 83.33%;}
.place-11 {left: 91.66%;}

/***/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    [class*="place-"] {
        left: 0;
    }
}

@media only screen and (min-width: 1680px) {
  .body-container {
    position: relative;
    width: 80%;
    left: 10%;
  }
}

@media only screen and (min-width: 2160px) {
  .body-container {
    position: relative;
    width: 76%;
    left: 12%;
  }
}

@media only screen and (min-width: 2436px) {
  .body-container {
    position: relative;
    width: 68%;
    left: 16%;
  }
}

/**Animations*/

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}


.letter {
  float: left;
  font-size: 14px;
  color: #777;
}

.l-1 {
  animation-delay: 0.48s;
}
.l-2 {
  animation-delay: 0.6s;
}
.l-3 {
  animation-delay: 0.72s;
}
.l-4 {
  animation-delay: 0.84s;
}
.l-5 {
  animation-delay: 0.96s;
}
.l-6 {
  animation-delay: 1.08s;
}
.l-7 {
  animation-delay: 1.2s;
}
.l-8 {
  animation-delay: 1.32s;
}
.l-9 {
  animation-delay: 1.44s;
}
.l-10 {
  animation-delay: 1.56s;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}