.learners-chat-container {
    position: relative;
    color: aliceblue;
    top: 0px;
    width: 100%;
}

.learners-chat {
    position: absolute;
    background-color: #1f1e1e;
    margin: 0 0 8px 8px;
    border-radius: 8px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.chat-header {
    height: 50px;
    padding: 12px;
    text-align: center;
    border-bottom: solid 1px #353434;
}

.chat-body {
    position: relative;
    min-height: 300px;
    padding: 8px;
}

.chat-body .message {
    color: aliceblue;
    width: fit-content;
    list-style: none;
    margin: 8px;
}

.chat-body .message .from-id {
    font-size: small;
    display: inline-block;
}

.chat-body .message .message-text {
    display: inline-block;
}

.chat-input {
    height: 40px;
    margin: 8px;
    border: solid 1px #353434;
    border-radius: 16px;
}

.chat-input .text-input {
    position: relative;
    width: 85%;
    border-radius: 16px 0 0 16px;
    color: aliceblue;
    background-color: transparent;
    outline: none;
    padding: 12px;
    height: 100%;
}

.chat-input .button-input {
    position: relative;
    color: #a1e6cf;
    background-color: transparent;
    width: 15%;
}

/*.chat-input .button-input:hover {
    background-color: yellow;
}*/


@media only screen and (max-width: 768px) {
    .learners-chat {
      margin: 0 0 8px 0;
    }
}