.learners-chat-container {
    position: relative;
    color: aliceblue;
    top: 0px;
    width: 100%;
}

.learners-chat {
    position: absolute;
    background-color: #1f1e1e;
    margin: 0 0 8px 8px;
    border-radius: 8px;
    width: 100%;
}

.chat-header {
    height: 50px;
    padding: 12px;
    text-align: center;
    border-bottom: solid 1px #353434;
}

.chat-body {
    min-height: 400px;
    padding: 8px;
}

.chat-input {
    height: 40px;
    margin: 8px;
    border: solid 1px #353434;
    border-radius: 16px;
}

.chat-input .text-input {
    position: relative;
    width: 85%;
    border-radius: 16px 0 0 16px;
    color: aliceblue;
    background-color: transparent;
    outline: none;
    padding: 12px;
    height: 100%;
}

.chat-input .button-input {
    position: relative;
    color: aquamarine;
    background-color: transparent;
    width: 15%;
}


@media only screen and (max-width: 768px) {
    .learners-chat {
      margin: 0 0 8px 0;
    }
}