.post-creator {
    position: relative;
    color: white;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(15, 15, 15);
    font-family: Nunito;
}

.post-creator .post-creator-container {
    display: flex;
    border: solid 1px #292828;
    border-radius: 16px;
}

.post-creator-container .profile-thumbnail {
    width: 30px;
    height: 30px;
    margin: 12px;
    cursor: pointer;
}

.post-creator-container .input-shape {
    background-color: transparent;
    padding: 16px 8px;
    width: 100%;
    outline: none;
    color: bisque;
}

.button {
    background-color: #275efe;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
}

.btn_close {
    padding: 0 8px;
    cursor: pointer;
}

.fluid {
    display: flex;
    justify-content: center;
}