.publications-container {
    position: relative;
    top: 48px;
}

.publications-container .publication {
    position: relative;
    height: auto;
    margin: 8px 0;
    border-radius: 8px;
    color: #fff;
    background-color: #1d1c1c;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #1d1c1c;
}

.publications-container .publication .publication-header {
    position: relative;
    display: flex;
    top: 0px;
    margin: 8px 0;
}

.publications-container .publication .publication-header .name {
    margin-left: 8px;
}

.publications-container .publication .publication-header .settings {
    margin-right: 8px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
    cursor: pointer;
    color: rgb(114, 114, 114);
}

.publication .body {
    background-color: rgb(15, 15, 15);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(58, 58, 58);
}

.publication .panel {
    display: flex;
    padding: 8px;
}

.publication .panel .social-button1 {
    background-color: transparent;
    color: rgb(61, 135, 245);
    margin: auto;
    cursor: pointer;
}